In [19]:
a=[1,2,5,3,4,4,6,7,7,9,5,9]
res=[]
for i in a:
    if i not in res:
        res.append(i)

    else:
        print(i)

4
7
5
9

In [13]:
class Animal:
    Name='Lion'
    Size='7'
    Color='Yellow'
    Speed=70

ob=Animal()
ob2=Animal()
ob2.Name='Tiger'
print(ob2.Name)
print(Animal.Name)
print(ob.Speed)

Tiger
Lion
70

In [17]:
class student:
    Collage_Name:'Bengal School of Technology and management'
    Branch_Name:'MAKAUT'
    Address:'Sughandha'
    Code:69

    def __init__(self,Name,Roll,ID,Phone):
        self.Name=Name
        self.Roll=Roll
        self.ID=ID
        self.Phone=Phone

    def disp(self):
        print(self.Name,self.Roll,self.ID,self.Phone)
S1=student('Akash',65,8959,6289055427)
S2=student('Sayak',28,4758,6243679823)
S1.disp()
S2.disp()

Akash 65 8959 6289055427
Sayak 28 4758 6243679823

In [55]:
class Company:
    C_Name='Google'
    C_id=69
    CEO='S.Pichay'
    Loc='USA'
    def __init__(self,Name,Phone,ID,Salary):
        self.Name=Name
        self.Phone=Phone
        self.ID=ID
        self.Salary=Salary

    def disp(self):
        print(self.Name,self.Phone,self.ID,self.Salary)

    def Ch_Salary(self,new):
        self.Salary=new

    def disp1(self):
        print(self.Name,self.Phone,self.ID,self.Salary)

Akash=Company('Akash',6289055427,578,40000)
Akash.disp()

Akash.Ch_Salary(60000)
Akash.disp1()
#Akash.disp1()

Akash 6289055427 578 40000
Akash 6289055427 578 60000

In [35]:
class student:
    _a=10
    b=20
    def __init__(self,name,__phone,id):
        self.name=name
        self.__phone=__phone
        self.id=id
    def disp(self):
        print(self.name,self.__phone,self.id)

op=student('Akash',56786,98)
op.disp()
print(op._a)
print(op.__student__phone)

Akash 56786 98
10

AttributeError: 'student' object has no attribute '__student__phone'

In [43]:
#lower=100
#upper=2000
n=int(input('Enter'))
for num in range(n,2000):
    order=len(str(n))
    sum=0
    temp=n
    while temp>0:
        digit=temp%10
        sum+=digit**order
        temp//=10

    if n==sum:
        print('Arm')
        break
    else:
        print('Not')
        break

Enter 45

Not

In [13]:
n=int(input('Enter the number'))
bin=0
i=0
while n>0:
    dec=n%10
    bin=bin+dec * pow(2,i)
    n//=10
    i+=1
print(bin)

Enter the number 100

4

In [33]:
def binaryToDecimal(binary):
 
    decimal, i = 0, 0
    while(binary != 0):
        dec = binary % 10
        decimal = decimal + dec * pow(2, i)
        binary = binary//10
        i += 1
    print(decimal)
binaryToDecimal(10)

2

In [35]:
def dec(num):
    if num>1:
        dec(num//2)
    print(num%2 , end=' ')

dec(34)

1 0 0 0 1 0

In [17]:
def convertToBinary(n):
   if n > 1:
       convertToBinary(n//2)
   print(n % 2,end = '')

# decimal number
dec = 34

convertToBinary(dec)
print()

100010

In [5]:
words={'hi', 'hello', 'bye'}
output={word:''.join([char for char in word if char in 'aeiou'])for word in words}
print(output)

{'hello': 'eo', 'hi': 'i', 'bye': 'e'}

In [1]:
def check_def(lst, default_value={0,None,''}):
    return [value for value in lst if value not in default_value]

sample_list=[1,0,0,3,None,'','hellow',None, 75]
result=check_def(sample_list)
print(result)

[1, 3, 'hellow', 75]

In [5]:
words={'hi', 'hello','bye'}
output={word:''.join([char for char in word if char in 'aeiou']) for word in words}
print(output)

{'hello': 'eo', 'bye': 'e', 'hi': 'i'}

In [13]:
def profit(price):
    min_p=price[0]
    n=len(price)
    res=0
    for i in range(1,n):
        min_p=min(min_p , price[i])
        res=max(res,price[i]-min_p)

    return res

p=[4,3,6,1,2,15,5]
result=profit(p)
print(result)

14

In [39]:
def sum_two(arr,target):
    arr.sort()
    left=0
    right=len(arr)-1
    while left < right:
        sum=arr[left]+arr[right]
        if sum==target:
            return True
        elif sum<target:
            left+=1

        else:
            right-=1

arr=[1,5,2,3]
target=7
result=sum_two(arr,target)
print(result)

True

In [79]:
def sum_two(arr,target):
    arr.sort()
    left=0
    right=len(arr)-1
    for i in arr:
        sum=arr[left]+arr[right]
        if sum==target:
            return True
        elif sum<target:
            left+=1

        else:
            right-=1

arr=[1,2,7,5]
target=12
result=sum_two(arr,target)
print(result)

True

In [83]:
m,n=map(int,input().split())
print(sum(range(m,n+1)))

 0

ValueError: not enough values to unpack (expected 2, got 1)